<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>车型识别</title>
</head>


<body>
  <div style="padding: 16px">
    <div class="layui-card">
      <div class="layui-card-body">

        <blockquote class="layui-elem-quote layui-text">
          <h2 style="text-align:center;">车型识别</h2>
        </blockquote>
        <div class="layui-upload-drag" style="display:block;" id="car-upload-drag">
          <i class="layui-icon layui-icon-upload"></i>
          <div>点击上传，或将文件拖拽到此处</div>
          <div class="layui-hide" id="car-upload-preview">
            <hr/> <img src="" alt="上传成功后渲染" height="300">
          </div>
        </div>
        
        <hr class="ws-space-16">
        
        <div id="car-list">
        </div>

      </div>
    </div>
  </div>


    <script>
      layui.use(function () {
        var upload = layui.upload;
        var element = layui.element
        var $ = layui.$;
        
        // 渲染
        upload.render({
          elem: '#car-upload-drag',
          url: '/api/v1/car_detect/carDetect', // 实际使用时改成您自己的上传接口即可。
          done: function (res) {

            layer.msg('上传成功');
            $('#car-upload-preview').removeClass('layui-hide')
              .find('img').attr('src', res.url);

            var itemHTML = "";
            for (var i = 0; i < res.data.length; i++) {
              itemHTML += '<h3>' + res.data[i]['name'] + '\t' + res.data[i]['year'] + '</h3>';
              itemHTML += "<div style='width:300px; padding:5px'><div class='layui-progress layui-progress-big' lay-showpercent='true'><div class='layui-progress-bar' lay-percent='"+ res.data[i]['score']*100 +"%'></div></div></div>";
              
            }
            $('#car-list').html(itemHTML);  // 将生成的HTML插入到列表中
            element.render('progress'); //加载进度条样式
            console.log(res)
          }
        });
        
      });
    </script>

</body>

</html>